<launch>
  <param name="use_sim_time" value="true" />
  <arg name="play_bag" default="true" />
  <arg name="bag_file" default="/media/yuepan/SeagateNew/1_data/ViconRoom/voxfield_planning_test_xxx.bag"/>
  <arg name="robot_model_file" default="$(find voxblox_ros)/cfg/model/drone_x500.dae"/> 

  <node name="player" pkg="rosbag" type="play" output="screen" args="-r 1.0 --clock $(arg bag_file)" if="$(arg play_bag)"/>

  <node name="voxblox_node" pkg="voxblox_ros" type="voxfield_server" output="screen" args="-alsologtostderr" clear_params="true">
    <remap from="pointcloud" to="/camera/depth_registered/points"/>
    <remap from="transform" to="/mavros/setpoint_position/local" />
    <rosparam file="$(find voxblox_ros)/cfg/calib/vicon_calib.yaml"/>
    <rosparam file="$(find voxblox_ros)/cfg/param/vicon_param.yaml"/>
    <param name="robot_model_file" value="$(arg robot_model_file)"/>
  </node>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find voxblox_ros)/cfg/rviz/vicon_10cm.rviz" />
</launch>